---
import "../styles/global.css";
import Navigation from "@components/navigation.astro";
// images
import ogImageBlog from "@res/images/ogbannerblog.webp";
import ogImageProjects from "@res/images/ogbannerprojects.webp";
// metadata for seo
interface Props {
  title?: string;
  desc?: string;
  keywords?: string;
}
const {
  title = "Tausif's Blog | delving into code, life and everything in between",
  desc = "A blog to share learnings, going deeper into decision making and decoding the system thinker and sometimes insights from life and books.",
  keywords = "buildwithtausif, developer blog, dev blog, tausif's blog, tausif alam blog, bsh_tausif",
} = Astro.props as Props;
// canonnical url for seo
const canonical = new URL(Astro.url.pathname, Astro.site).toString();
---

<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-5J5KDXHK");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <title>{title}</title>
    <!-- basic metadata -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href={canonical} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />
    <meta name="keywords" content={keywords} />
    <!-- open graph metadata -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:url" content={canonical} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <!-- conditional og:image for project and blog pages -->
    {
      Astro.url.pathname.includes("/projects") ? (
        <meta property="og:image" content={ogImageProjects.src} />
      ) : (
        <meta property="og:image" content={ogImageBlog.src} />
      )
    }
    <!-- twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={desc} />
    <meta
      name="twitter:image"
      content={Astro.url.pathname.includes("/projects")
        ? ogImageProjects.src
        : ogImageBlog.src}
    />
    <meta
      name="twitter:image:width"
      content={Astro.url.pathname.includes("/projects")
        ? ogImageProjects.width.toString()
        : ogImageBlog.width.toString()}
    />
    <meta
      name="twitter:image:height"
      content={Astro.url.pathname.includes("/projects")
        ? ogImageProjects.height.toString()
        : ogImageBlog.height.toString()}
    />
    <meta
      name="twitter:image:type"
      content={Astro.url.pathname.includes("/projects")
        ? ogImageProjects.format
        : ogImageBlog.format}
    />
    <meta name="twitter:image:alt" content={title} />
  </head>
  <body class="scanline-bg">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5J5KDXHK"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Navigation />
    <div class="content-wrapper w-full min-h-screen">
      <slot />
    </div>
  </body>
</html>
