---
import "../styles/global.css";
import Navigation from "@components/navigation.astro";
// metadata
interface Props {
  title: string,
  desc?: string,
  keywords?: string,
}

const {
  title = "Tausif Alam | Full Stack Developer",
  desc = "developing scalable systems for every business needs, I'm a full stack developer specializing in Node.js and Go (Programming Language) and related frameworks.",
  keywords = "Tausif Alam, Tausif Alam portfolio, full stack developer, Node.js developer, Golang developer, backend developer, web developer, system design, freelancer"
} = Astro.props as Props;
const canonical = new URL(Astro.url.pathname, Astro.site).toString();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href={canonical} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />
    <meta name="keywords" content={keywords} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen scanline-bg">
    <Navigation />
    <slot name="brief"/>
	  <slot name="glance-for-skills"/>
  </body>
</html>
