---
import "../styles/global.css"
import Navigation from "@components/navigation.astro"
interface Props {
  title?: string;
  desc?: string;
  keywords?: string;
}
const {
  title = "Blog | more than just a blog by buildwithtausif",
  desc = "This is my thought dump and I share everything I come across days, so expect no limitation of content coverage, mostly I'll right about tech, books, philosophy",
  keywords = "buildwithtausif, developer blog, dev blog, tausif's blog",
} = Astro.props as Props;
const canonical = new URL(Astro.url.pathname, Astro.site).toString();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href={canonical} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />
    <meta name="keywords" content={keywords} />
    <title>{title}</title>
  </head>
  <body class="scanline-bg">
    <Navigation />
    <div class="content-wrapper w-full min-h-screen">
      <slot />
    </div>
  </body>
</html>
